{% extends 'base.html' %}
{% load staticfiles %}

  {% block content %}
  {% for cat in cats %}
    <a href="/{{cat.id}}">
      <p>Name: {{ cat.name }}</p>
    </a>

    <a href="/user/{{cat.user.username}}"
      <p>Adopted By: {{cat.user.username }}</p>
    </a>
    <br>
    <a class="waves-effect waves-light btn" data-id="{{cat.id}}">
  		Likes: {% if cat.likes > 0 %} {{ cat.likes }} {% else %} None :( {% endif %}
	</a>
    {% if cat.age > 0 %}
      <p>Age: {{ cat.age }}</p>
    {% else %}
      <p>Age: Kitten</p>
    {% endif %}
    <hr />
  	{% endfor %}
  	<form action="post_url/" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit" />
  	</form>
{% endblock %}